.headerhero {
  width: 100%;
  display: block;
  position: relative;
}

.headerhero .headerbg {
  width: 100%;
  height: auto;
}

.headerhero .headerbg img {
  width: 100%;
  height: auto;
}

.headerhero .headercontent {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0%;
  text-align: center;
  color: #f2f2f2;
  padding: 0rem 0.4rem;
}

.headerhero .headercontent p.heading1 {
  text-transform: uppercase;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2vw;
  padding-top: 9vw;
}

.headerhero .headercontent h1 {
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  font-size: 3rem;
  font-style: italic;
  text-transform: uppercase;
  margin-bottom: 2.4vw;
}

.headerhero .headercontent h1 .logostyle {
  color: #ce0095;
}

.header-hero .header-content p.description {
  margin: 0 auto;
  width: 30%;
  font-family: Cambria;
  font-size: 1.4rem;
  font-style: italic;
  margin-bottom: 5vw;
}

.headerhero .headercontent .button {
  margin: 10px auto;
  background-color: #a61458;
  -webkit-box-shadow: 0px 1px 3.84px 0.16px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 3.84px 0.16px rgba(0, 0, 0, 0.35);
  width: 10rem;
  padding: 0.8rem;
  cursor: pointer;
}
.headerhero .headercontent .button:hover {
  padding: 1rem;
}

.headerhero .headercontent .button p {
  font-family: Cambria;
  font-size: 1rem;
  font-weight: 400;
  text-align: justify;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}

@media only screen and (max-width: 1440px) {
  .headerhero .headercontent p.description {
    width: 40%;
    margin-bottom: 3rem;
    font-size: 1.2rem;
  }
  .headerhero .headercontent p.heading1 {
    padding-top: 8vw;
  }
}

@media only screen and (max-width: 1024px) {
  .header-hero .header-bg {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .headerhero .headerbg img {
    width: 100rem;
    height: 40rem;
    margin-left: -50%;
  }
  .headerhero .headercontent p.heading1 {
    padding-top: 20vw;
  }
  .headerhero .headercontent p.description {
    width: 60%;
    margin-bottom: 4rem;
  }
}

@media only screen and (max-width: 480px) {
  .header-hero .headercontent h1 {
    font-size: 2rem;
    padding: 1rem 0rem;
  }
  .headerhero .headerbg img {
    width: 100rem;
    height: 40rem;
    margin-left: -140%;
  }
  .headerhero .headercontent p.description {
    width: 50%;
    margin-bottom: 3rem;
    text-align: left;
  }
  .headerhero .headercontent .button {
    width: 8rem;
    padding: 0.6rem;
  }
  .headerhero .headercontent .button p {
    font-size: 0.8rem;
  }
}
/* Products*/

.products {
  width: 100%;
}

.products .container {
  display: block;
  width: 80%;
  margin: 0 auto;
  font-size: 0;
}

.products .container .productsheader {
  font-size: 16px;
  text-align: center;
  margin-bottom: 3rem;
}

.productsheader h2 {
  padding: 2rem 1rem;
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium";
  color: #000000;
  font-size: 1.875rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  line-height: 1;
  text-align: center;
}

.productsheader p {
  font-family: Cambria;
  color: rgba(89, 89, 89, 1);
  font-size: 1rem;
  font-style: italic;
  line-height: 1.5;
  text-align: center;
}

.products .container .product {
  width: 25%;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  padding: 0;
  margin: 0;
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.products .container .product:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0.8;
  -webkit-transition: opacity 800ms ease-in-out 0s;
  transition: opacity 800ms ease-in-out 0s;
  -webkit-transition: -webkit-transform 1s ease-in-out 0s;
  transition: -webkit-transform 1s ease-in-out 0s;
  transition: transform 1s ease-in-out 0s;
  transition: transform 1s ease-in-out 0s, -webkit-transform 1s ease-in-out 0s;
  cursor: pointer;
}

.products .container .product figure img {
  width: 100%;
  height: auto;
}

.products .container .product figure figcaption {
  font-family: "Franklin Gothic Medium";
  color: rgba(89, 89, 89, 1);
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.02rem;
  text-align: center;
  padding: 1rem 0rem 0rem;
  text-transform: uppercase;
}

@media only screen and (max-width: 1024px) {
  .products .container .product {
    width: 50%;
    padding: 3rem;
  }
}

@media only screen and (max-width: 768px) {
  .products .container .product {
    width: 50%;
    padding: 2rem;
  }
}

@media only screen and (max-width: 480px) {
  .products .container .product {
    width: 100%;
  }
}
/* .bg {
  max-width: 100%;
  filter: blur(2px);
  -webkit-filter: blur(2px);
} */

.blog {
  width: 100%;
  display: block;
  margin: 6rem 0 0 0;
  background-color: #f2f2f2;
  padding: 3rem 0rem 6rem;
}

.blog .blogcontainer {
  margin: 0 auto;
  width: 80%;
  background-color: #f2f2f2;
}

.blog .blogcontainer .blogheader {
  text-align: center;
  margin-bottom: 3rem;
}

.blog .blogcontainer .blogheader h2 {
  padding: 2rem 1rem;
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium";
  color: #000000;
  font-size: 1.875rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  line-height: 1;
  text-align: center;
}

.blog .blogcontainer .blogheader p {
  font-family: Cambria;
  color: rgba(89, 89, 89, 1);
  font-size: 1rem;
  font-style: italic;
  line-height: 1.5;
  text-align: center;
}

.blog .blogcontainer .blogcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog .blogcontainer .blogcontent .blog1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 0rem;
  padding-left: 5%;
}

.blog .blogcontainer .blogcontent .blog1 .blog1imageholder {
  width: 45%;
  height: auto;
  font-size: 16px;
}

.blog .blogcontainer .blogcontent .blog1 .blog1imageholder img {
  width: 100%;
  height: auto;
}

.blog .blogcontainer .blogcontent .blog1 .blog1content {
  width: 50%;
  background-color: #fff;
  margin-left: -10%;
  margin-top: 4%;
  padding: 4%;
  -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
}

.blog .blogcontainer .blogcontent .blog1 .blog1content h4 {
  text-transform: uppercase;
  color: #999999;
  font-weight: 400;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.blog .blogcontainer .blogcontent .blog1 .blog1content h3 {
  text-transform: uppercase;
  padding-bottom: 6%;
}

.blog .blogcontainer .blogcontent .blog1 .blog1content p.description {
  font-family: Cambria;
  font-style: italic;
  padding-bottom: 8%;
}

.blog .blogcontainer .blogcontent .blog1 .blog1content p.button {
  width: 50%;
  text-align: center;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 500;
  padding: 4%;
  color: #fff;
  background-color: rgba(166, 20, 88, 0.8);
  -webkit-box-shadow: 0px 1px 3.84px 0.16px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 3.84px 0.16px rgba(0, 0, 0, 0.35);
}

.blog .blogcontainer .blogcontent .blog1 .blog1content p.button:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: rgba(166, 20, 88, 0.8);
  -webkit-transition: background-color 1s ease-in-out 0s;
  -o-transition: background-color 1s ease-in-out 0s;
  transition: background-color 1s ease-in-out 0s;
  -webkit-transition: color 400ms ease-in-out 0s;
  -o-transition: color 400ms ease-in-out 0s;
  transition: color 400ms ease-in-out 0s;
}

.blog .blogcontainer .blogcontent .blog2 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 0rem;
  padding-left: 5%;
}

.blog .blogcontainer .blogcontent .blog2 .blog2imageholder {
  width: 45%;
  height: auto;
}

.blog .blogcontainer .blogcontent .blog2 .blog2imageholder img {
  width: 100%;
  height: auto;
}

.blog .blogcontainer .blogcontent .blog2 .blog2content {
  width: 50%;
  background-color: #fff;
  margin-left: -10%;
  margin-top: 4%;
  padding: 4%;
  -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
}

.blog .blogcontainer .blogcontent .blog2 .blog2content h4 {
  text-transform: uppercase;
  color: #999999;
  font-weight: 400;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.blog .blogcontainer .blogcontent .blog2 .blog2content h3 {
  text-transform: uppercase;
  padding-bottom: 6%;
}

.blog .blogcontainer .blogcontent .blog2 .blog2content p.description {
  font-family: Cambria;
  font-style: italic;
  padding-bottom: 8%;
}

.blog .blogcontainer .blogcontent .blog2 .blog2content p.button {
  width: 50%;
  text-align: center;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 500;
  padding: 4%;
  color: #fff;
  background-color: rgba(166, 20, 88, 0.8);
  -webkit-box-shadow: 0px 1px 3.84px 0.16px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 3.84px 0.16px rgba(0, 0, 0, 0.35);
}

.blog .blogcontainer .blogcontent .blog2 .blog2content p.button:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: rgba(166, 20, 88, 0.8);
  -webkit-transition: background-color 1s ease-in-out 0s;
  -o-transition: background-color 1s ease-in-out 0s;
  transition: background-color 1s ease-in-out 0s;
  -webkit-transition: color 400ms ease-in-out 0s;
  -o-transition: color 400ms ease-in-out 0s;
  transition: color 400ms ease-in-out 0s;
}

@media only screen and (max-width: 1024px) {
  .blog .blogcontainer .blogcontent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .blog .blogcontainer .blogcontent .blog1 {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    margin-bottom: 8%;
  }
  .blog .blogcontainer .blogcontent .blog2 {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .blog .blogcontainer .blogcontent .blog1 .blog1imageholder {
    width: 45%;
    height: auto;
    font-size: 16px;
    margin-left: 5%;
  }
  .blog .blogcontainer .blogcontent .blog2 .blog2imageholder {
    width: 45%;
    height: auto;
    font-size: 16px;
    margin-left: 5%;
  }
}

@media only screen and (max-width: 480px) {
  .blog .blogcontainer .blogcontent .blog1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .blog .container .blogcontent .blog1 .blog1imageholder {
    width: 100%;
    height: auto;
  }
  .blog .container .blogcontent .blog1 .blog1imageholder {
    margin-left: 0%;
  }
  .blog .container .blogcontent .blog1 .blog1content {
    width: 100%;
    margin-left: 0%;
    margin-top: -1%;
    padding: 8%;
  }
  .blog .container .blogcontent .blog1 .blog1content p.button {
    font-size: 0.6rem;
    padding: 4%;
  }
  .blog .container .blogcontent .blog2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .blog .container .blogcontent .blog2 .blog2imageholder {
    width: 100%;
    height: auto;
  }
  .blog .container .blogcontent .blog2 .blog2imageholder {
    margin-left: 0%;
  }
  .blog .container .blogcontent .blog2 .blog2content {
    width: 100%;
    margin-left: 0%;
    margin-top: -1%;
    padding: 8%;
  }
  .blog .container .blogcontent .blog2 .blog2content p.button {
    font-size: 0.6rem;
    padding: 4%;
  }
}

/* Contact Part */
.contact {
  width: 100%;
  height: auto;
  background-color: #e6b58f;
  margin: 0;
}

.contact .container {
  width: 80%;
  margin: 0 auto;
  display: block;
  padding-bottom: 2rem;
  text-transform: capitalize;
}

.contact .container h4 {
  font-family: "Franklin Gothic Medium";
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.056rem;
  text-align: center;
  text-transform: uppercase;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.contact .container p {
  font-family: Cambria;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.044rem;
  text-align: center;
  padding: 0.2rem 0rem;
}

.contact .container p.email {
  margin: 0 auto;
  margin-top: 6rem;
  border-bottom: 1px solid white;
  text-align: left;
  width: 40%;
}

.contact .container p.email span {
  width: 17px;
  height: 15px;
  float: right;
}

.contact .container p.email span img {
  width: 17px;
  height: auto;
}

@media only screen and (max-width: 800px) {
  .contact .container p.email {
    width: 90%;
  }
}
