body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.product {
  width: 300px;
  height: 800px;
  border: 5px solid aquamarine;
  padding: 50px;
  margin: 0 20px;
  align-content: center;
  position: relative;
  display: inline-block;
}
.product img {
  width: 300px;
}
.proList {
  background-color: darkslateblue;
}

/* Nav Bar Design */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

header {
  box-sizing: border-box;
  margin: 0;
  padding: 15px 10%;
  background-color: #24252a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbtn {
  font-family: "Montserat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

.logo {
  cursor: pointer;
  height: 30px;
}

.nav_links {
  list-style: none;
}
.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}
.nav_links li .navbtn {
  transition: all 0.3s ease 0s;
}
.nav_links li .navbtn:hover {
  color: #06b2c2;
}
.homebtn {
  padding: 9px 25px;
  background-color: #04b4c4;
  color: #edf0f1;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.homebtn:hover {
  color: #24252a;
  background-color: #edf0f1;
}
